        /* Ein paar Standard einstellungen */
        body {
            font-family: Arial;
            font-size: 15px;
            padding: 0px;
            background-color: #000000;
            background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
            background-size: cover;
            margin: 0px;
        }
        p{
            font-size: 20px;
        }
        #main{
            padding-top: 100px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .HiddenBox {
            /*unsichtbare box*/
            border-radius: 16px;
            width: 100%;
            padding: 20px;
            margin-top: 10px;
            height: 105px;
            align-content: flex-start;
            position: relative;
        }

        .DashboardBox {
            flex: auto;
            align-items: baseline;
            border-radius: 16px;
            padding: 20px;
            margin: auto;
            margin-top: 100px;
            text-align: center;
            background-color: #63a4ff;
            background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
            max-width: 25%;

        }

        .DashboardBox>button {
            display: inline-block;
            margin: 10px 5px;
            padding: 15px 25px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: blue;
            border: none;
            border-radius: 16px;
            box-shadow: 0 9px #999;
        }

        .DashboardBox>button:hover {
            background-color: darkblue;
            border-radius: 16px;
        }

        .DashboardBox>button:active {
            background-color: darkblue;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        .StartButton {
            border: 3px solid #212121;
        }

        .StartButton:hover {
            background-color: #F8BC5C
        }

        #Header {
         /* styling für den header (leiste wo logout ist)*/
            background-color: #63a4ff;
            background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
            padding-right: 10px;
            padding-bottom: 10px;
            border-bottom: 3px solid #09ffea;
            position:fixed;
            top: 0;
            width: 100%;
            z-index: 2;
            padding-bottom: 20px;
        }
        #AutoshootButton{
            margin-top: 10px;
            margin-left: 20px;
            visibility: hidden;
            padding: 15px 25px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: blue;
            border: none;
            border-radius: 16px;
            box-shadow: 0 9px #999;
        }
        #AutoshootButton:hover{
            background-color: darkblue;
            border-radius: 16px;
        }
        #AutoshootButton:active{
            background-color: darkblue;
            box-shadow: 0 5px #666;
            transform: translateY(4px);

        }

        table {
            background: url('/Images/Hintergrund.gif');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .HeaderButton{
            float: right;
            margin-right:  20px;
            margin-top: -50px;
            padding: 15px 25px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: blue;
            border: none;
            border-radius: 16px;
            box-shadow: 0 9px #999;
        }
        .HeaderButton:hover{
            background-color: darkblue;
            border-radius: 16px;
        }
        .HeaderButton:active{
            background-color: darkblue;
            box-shadow: 0 5px #666;
            transform: translateY(4px);

        }
        .MoreRight{
            visibility: hidden;
            margin-right: 150px;
        }
