
button{
    font-size: 15px;
}
select{
    font-size: 15px;
}
option{
    font-size: 15px;
    visibility: hidden;
}
#botlog{
    width: 200px;
    height: 200px;
    white-space: pre-wrap;
    color: white;
    background: transparent;
    visibility: hidden;
}