#SmallShipButton:active {
    background-color: #009900;
}
#ButtonBox{
    flex: auto;
    align-items: baseline;
    border-radius: 16px;
    background: linear-gradient(to left, rgb(126, 119, 93), rgb(80, 75, 61), rgb(47, 45, 33));
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    visibility: visible;
}
#ButtonBox > button{
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 16px;
    box-shadow: 0 9px #999;
}
#ButtonBox > button:hover{
    background-color: darkblue;
    border-radius: 16px;
}
#ButtonBox > button:active{
    background-color: darkblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
}
#ButtonBox > select{
    background-color: blue;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px #999;
    padding: 15px 25px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
#ButtonBox > select > option{
    background-color: blue;
}
#EnemieTable > button{
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 16px;
    box-shadow: 0 9px #999;
}
#EnemieTable > button:hover{
    background-color: darkblue;
    border-radius: 16px;
}
#EnemieTable > button:active{
    background-color: darkblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
}
label {
    color: blue;
}
#TinyShipButton {
    margin-left: 100px;
}
.dropdown{

        position: relative;
        display: inline-block;
}
.dropdownbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 16px;
    box-shadow: 0 9px #999;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 126px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 16px;
    box-shadow: 0 9px #999;
    margin-top: -20px;
}

.dropdown:hover .dropdownbtn {
    padding-bottom: 20px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover{
    cursor: pointer;
}

.dropdown-options {
    color: white;
    display: flex;
    flex-flow: wrap;
    flex-shrink: 2;
    background-color: blue;
    border-radius: 16px;
    margin-top: 10px;
    text-align: left;
    z-index: 1;
    padding:10px;
}
.dropdown-options:hover{
    background-color: darkblue;
}


table {
    /* css fürs styling*/
    color: #86b300;
    background-color: black;
    border: none;
    border-collapse: collapse;
    margin:auto
}
.TableHeader {
    border-color: greenyellow;
    border-style: solid;
    width: 70px;
    height: 70px;
    font-size: 20px;
    text-align: center;
}
td {
    border-color: greenyellow;
    border-style: outset;
    padding: 0px;
    margin: 0px;
}
.NumberInTable {
    width: 70px;
    height: 70px;
    font-size: 20px;
    text-align: center;
}
.ShipBox {
    flex: auto;
    align-items: baseline;
    border-radius: 16px;
    background: linear-gradient(to left, rgb(126, 119, 93), rgb(80, 75, 61), rgb(47, 45, 33));
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
}
#EnemieTable{
    text-align: center;
    flex: auto;
    align-items: baseline;
    border-radius: 16px;
    background: linear-gradient(to left, rgb(126, 119, 93), rgb(80, 75, 61), rgb(47, 45, 33));
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 100px;
    visibility: hidden;
}

.shipbutton {
    color: #39e600;
    background-color: black;
    border: none;
    padding: 5px;
    margin: 0px;
    width: 70px;
    height: 70px;
    font-size: 0px;
}
@media screen and (max-width: 1200px) {
    .shipbutton{
        width: 60px;
        height: 60px;
    }
    .NumberInTable{
        width: 60px;
        height: 60px;
    }
    .TableHeader{
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width: 1000px) {
    .shipbutton{
        width: 50px;
        height: 50px;
    }
    .NumberInTable{
        width: 50px;
        height: 50px;
    }
    .TableHeader{
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 700px) {
    .shipbutton{
        width: 30px;
        height: 30px;
    }
    .ShipBox{
        padding: 7px;
    }
    #main{
        padding: 10px;
    }
    .NumberInTable{
        width: 30px;
        height: 30px;
    }
    .TableHeader{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 430px) {
    .shipbutton{
        width: 25px;
        height: 25px;
    }
    .NumberInTable{
        width: 25px;
        height: 25px;
        font-size: 10px;
    }
    .TableHeader{
        width: 25px;
        height: 25px;
        font-size: 10px;
    }
}
@media screen and (max-width: 370px) {
    .shipbutton{
        width: 20px;
        height: 20px;
    }
    .NumberInTable{
        width: 20px;
        height: 20px;
        font-size: 10px;
    }
    .TableHeader{
        width: 20px;
        height: 20px;
        font-size: 10px;
    }
}